In [4]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [13]:
read_accident_data=pd.read_csv(r'F:\internship2020_kaggle\final_project\road-accidents.csv',sep='|',skiprows=9)
print(read_accident_data.shape)
read_accident_data

(51, 5)

,state,drvr_fatl_col_bmiles,perc_fatl_speed,perc_fatl_alcohol,perc_fatl_1st_time
0,Alabama,18.8,39,30,80
1,Alaska,18.1,41,25,94
2,Arizona,18.6,35,28,96
3,Arkansas,22.4,18,26,95
4,California,12.0,35,28,89
5,Colorado,13.6,37,28,95
6,Connecticut,10.8,46,36,82
7,Delaware,16.2,38,30,99
8,District of Columbia,5.9,34,27,100
9,Florida,17.9,21,29,94
10,Georgia,15.6,19,25,93
11,Hawaii,17.5,54,41,87
12,Idaho,15.3,36,29,98
13,Illinois,12.8,36,34,96
14,Indiana,14.5,25,29,95
15,Iowa,15.7,17,25,87
16,Kansas,17.8,27,24,85
17,Kentucky,21.4,19,23,76
18,Louisiana,20.5,35,33,98
19,Maine,15.1,38,30,84
20,Maryland,12.5,34,32,99
21,Massachusetts,8.2,23,35,80
22,Michigan,14.1,24,28,77
23,Minnesota,9.6,23,29,88
24,Mississippi,17.6,15,31,100
25,Missouri,16.1,43,34,84
26,Montana,21.4,39,44,85
27,Nebraska,14.9,13,35,90
28,Nevada,14.7,37,32,99
29,New Hampshire,11.6,35,30,83
30,New Jersey,11.2,16,28,78
31,New Mexico,18.4,19,27,98
32,New York,12.3,32,29,80
33,North Carolina,16.8,39,31,81
34,North Dakota,23.9,23,42,86
35,Ohio,14.1,28,34,82
36,Oklahoma,19.9,32,29,94
37,Oregon,12.8,33,26,90
38,Pennsylvania,18.2,50,31,88
39,Rhode Island,11.1,34,38,79
40,South Carolina,23.9,38,41,81
41,South Dakota,19.4,31,33,86
42,Tennessee,19.5,21,29,81
43,Texas,19.4,40,38,87
44,Utah,11.3,43,16,96
45,Vermont,13.6,30,30,95
46,Virginia,12.7,19,27,88
47,Washington,10.6,42,33,86
48,West Virginia,23.8,34,28,87
49,Wisconsin,13.8,36,33,84
50,Wyoming,17.4,42,32,90

In [11]:
mile_der_data=pd.read_csv(r'F:\internship2020_kaggle\final_project\miles-driven.csv',sep='|')
mile_der_data

                   state  million_miles_annually
0                Alabama                   64914
1                 Alaska                    4593
2                Arizona                   59575
3               Arkansas                   32953
4             California                  320784
5               Colorado                   46606
6            Connecticut                   31197
7               Delaware                    9028
8   District of Columbia                    3568
9                Florida                  191855
10               Georgia                  108454
11                Hawaii                   10066
12                 Idaho                   15937
13              Illinois                  103234
14               Indiana                   76485
15                  Iowa                   31274
16                Kansas                   30021
17              Kentucky                   48061
18             Louisiana                   46513
19                 Maine                   14248
20              Maryland                   56221
21         Massachusetts                   54792
22              Michigan                   94754
23             Minnesota                   56685
24           Mississippi                   38851
25              Missouri                   68789
26               Montana                   11660
27              Nebraska                   19093
28                Nevada                   24189
29         New Hampshire                   12720
30            New Jersey                   73094
31            New Mexico                   25650
32              New York                  127726
33        North Carolina                  103772
34          North Dakota                    9131
35                  Ohio                  111990
36              Oklahoma                   47464
37                Oregon                   33373
38          Pennsylvania                   99204
39          Rhode Island                    7901
40        South Carolina                   48730
41          South Dakota                    9002
42             Tennessee                   70751
43                 Texas                  237440
44                  Utah                   26222
45               Vermont                    7141
46              Virginia                   80974
47            Washington                   56955
48         West Virginia                   18963
49             Wisconsin                   58554
50               Wyoming                    9245